
.jumbotron
{
    background: #2c2c2c !important;
    margin-top: 4%;
    color: white;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}
.card-hotel:hover {
    transform: scale(1.03);
    transition: 0.5s;
}
p { font-size: 90%; }

.btn-reserva {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
}
.tab-content {
    padding-top: 1%;
}
.card-body {
    padding: 0.9rem;
    padding-bottom: 5.3rem;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: #2c2c2c;
    margin-bottom: 0px;
    margin-top: 10px;
}
.footer-address-icon {
    padding-right: 1%;
}