.jumbotron {
  background: #2c2c2c !important;
  color: #ffffff;
  margin: 4%;
  margin-bottom: 0%;
}
.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin: 10px;
  margin-bottom: 0px;
}
.card-hotel:hover {
  transform: scale(1.03);
  transition: 0.5s;
}
p {
  font-size: 90%;
}
.btn-reserva {
  width: 100%;
  position: relative;
  left: 0;
  margin: 0px;
  margin-bottom: 0px;
}
.tab-content {
  padding-top: 1%;
}
.card-body {
  padding: 0.9rem;
  padding-bottom: 5.3rem;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #2c2c2c;
  margin: 10px;
  margin-bottom: 0px;
}
.footer-address-icon {
  padding-right: 1%;
}
