$yellow: #fffa19;
$red: #fa0728;
$green: #11f054;
$white: #ffffff;

@mixin margenes($top, $bottom) {
    margin: $top;
    margin-bottom: $bottom;
}
.jumbotron
{
    background: #2c2c2c !important;
    color: $white;
    @include margenes(4%, 0%);
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    @include margenes(10px, 0px);
}
.card-hotel:hover {
    transform: scale(1.03);
    transition: 0.5s;
}
p { font-size: 90%; }

.btn-reserva {
    width: 100%;
    position: relative;
    left: 0;
    @include margenes(0px, 0px);
}
.tab-content {
    padding-top: 1%;
}
.card-body {
    padding: 0.9rem;
    padding-bottom: 5.3rem;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: #2c2c2c;
    @include margenes(10px, 0px);
}
.footer-address-icon {
    padding-right: 1%;
}